.backLink {
    display: block;
    margin-bottom: 20px;
}

.backLink:before {
    content: '\2039';
    display: inline-block;
    margin-right: 5px;
    font-size: 14px;
    font-weight: bold;
}

.mainInfo {
    margin-bottom: 10px;
}

.controlsWrapper {
    margin: 24px 0 30px;
}

.controlButton {
    display: inline-block;
    margin-right: 30px;
    vertical-align: middle;
}

.buyTrackButton {
    padding: 10px;
    width: 150px;
}
