.albumCoverWrapper {
    flex: 1 0 0;
    margin-bottom: 30px;
}

.albumCoverTitle {
    margin-bottom: 0;
    font-weight: bold;
}

.albumCoverImg {
    display: inline-block;
    margin-right: 15px;
    max-width: 100%;
    vertical-align: top;
}

.albumCoverInfo {
    display: inline-block;
    vertical-align: top;
}


/* .albumTitle {} */