{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "browsers": [
                        "last 2 versions"
                    ]
                },
                "useBuiltIns": "usage",
                "modules": false,
                "corejs": "3"
            }
        ],

        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/plugin-transform-modules-commonjs",
        "@babel/plugin-transform-async-to-generator",
        "@babel/plugin-proposal-class-properties"
    ],
    "env": {
        "test": {
            "presets": [
                "@babel/preset-env",
                "@babel/preset-react"
            ],
            "plugins": [
                ["@babel/plugin-proposal-class-properties", { "spec": true }],
                ["@babel/plugin-transform-runtime", { "regenerator": true }]
            ]
        }
    }
}
