{
    "presets": [
        ["env", { "modules": false }],
        "react",
        "stage-1"
    ],
    "plugins": [
        "transform-es2015-modules-commonjs",
        "syntax-trailing-function-commas",
        "transform-async-to-generator"
    ],
    "env": {
        "test": {
            "presets": [
                "env",
                "react"
            ],
            "plugins": [
                ["transform-class-properties", { "spec": true }]
            ]
        }
    }
}