.noResults {
    text-align: center;
    font-size: 16px;
    color: #7c8796;
}

.spinnerWrapper {
    margin: 50px 0;
    text-align: center;
}

.searchFieldWrapper {
    margin-bottom: 30px;
}

.listHeader {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding-bottom: 3px;
    margin-bottom: 15px;
    border-bottom: 1px solid #d0d4dc;
}

.sortable {
    transition: color .2s linear;
    cursor: pointer;
}

.sortable:hover {
    color: #7c8796
}

.sortTracksLabel {
    display: none;
}

@media screen and (max-width: 480px) {
    .sortTracksLabel {
        display: inline;
        white-space: nowrap;
    }

    .headerTitle {
        display: none;
    }
}