.wrapper {
    position: relative;
    min-height: 500px;
    max-width: 600px;
    margin: 30px auto;
    padding: 15px;
    border: 1px solid #d0d4dc;
    border-radius: 3px;
}

@media screen and (max-width: 650px) {
    .wrapper {
        margin: 15px;
    }
}