.playerWrapper {
    position: relative;
    box-sizing: border-box;
}

.player {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.playerButton {
    display: inline-block;
    flex: 0 0 30px;
    max-width: 30px;
    border: none;
    padding: 5px 0;
    outline: none;
    background: none;
    cursor: pointer;
    transition: transform .1s linear;
}

.playerButton:active {
    transform: scale(0.95);
}

.playerButton:hover .playerControl {
    color: #ff5722;
}

.playerButton + .playerButton {
    margin-left: 30px;
}

.playerButtonSmall {
    flex: 0 0 20px;
    max-width: 20px;
    padding: 5px 0;
}

.playerButtonSmall .playerControl {
    width: 20px;
}

.playerButton:disabled {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
}

.playerControl {
    width: 30px;
    color: #7c8796;
    transition: color .1s linear;
}

.buttonHidden {
    display: none;
}

.trackInfoWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.trackInfoName {
    max-width: 430px;
    overflow: hidden;
    margin: 0 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* Volume */
.volumeWrapper {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center
}

.volumeControl {
    display: none;
    position: relative;
    flex: 0 1 240px;
    width: 100%;
    height: 30px;
    box-sizing: border-box;
}

.volumeControlMl15 {
    margin-left: 15px;
}

.volumeControlVisible {
    display: block;
}

.volumeValue {
    margin-left: 15px;
    font-size: 11px;
    color: grey;
}

.volumeBar {
    position: absolute;
    top: 50%;
    margin-top: -5px;
    width: 100%;
    height: 7px;
    background-color: rgba(255, 87, 34, 1);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
    border-radius: 3px;
}

.volumeBarEmpty {
    background-color: rgba(208, 212, 220, 1);;
    box-shadow: none;
    cursor: pointer;
    opacity: 0.5;
}

.volumeSlider {
    position: absolute;
    z-index: 5;
    top: 50%;
    right: -10px;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    background-color: #7c8796;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.33);
    border-radius: 50%;
    cursor: pointer;
    border: none;
    padding: 0;
    outline: none;
}

.volumeSlider:active {
    transform: scale(0.95);
}

.volumeFadeout {
    animation: fadeout .3s;
}

.volumeFadein {
    animation: fadein .3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
}
